// fonts
//$primary-font: 'Gelion', sans-serif;
$primary-font: 'FiraGO', sans-serif;
$icons-font: 'VendooIcons';
$title-font: "Nunito Sans";
$button-font: "BPG WEB 001 Caps";

$icon-arrow-left: '\0051';
$icon-arrow-right: '\0052';
